* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: hsl(217, 54%, 11%);
}

.container {
  width: 300px;
  height: 498px;
  display: flex;
  flex-direction: column;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  box-shadow: 15px 15px hsl(217, 54%, 12%);
}

.image {
  width: 260px;
  height: 260px;
  margin: 20px;
  border-radius: 15px;
}

.card-comments {
  margin: 0 20px;
  width: 260px;
  height: 194px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
